*{
  padding: 0;
  margin: 0;
  font-family: Plus Jakarta Sans;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-timeline: 1000;
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
}

body {
  background: #fff;
  display: flex;

 /*width: 1440px;
  height: 4792px;
  padding: 0px 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  */
}


